page-family-members {
    .scroll-content{
        background: $page-bg;
    }
    .header-md {
        &::after {
            display: none;
        }
    }
    .header-ios {
        .toolbar-background-ios {
            border-bottom: none; 
        }
    }
    .bg-pink{
        background-color: $pink;
        height: 90px;
    }
    .card-top{
        margin-top: -90px;
    }
    .card-top{
        margin-top: -90px;
    }
    .card-ios{
        @include rounded(10px);
        background-position: right 15px bottom 20px;
    }
    .card-md{
        @extend .card-ios;
    }
    .edit-avter{
        padding-bottom: 15px;
        position: relative;
        display: inline-block; 
        img{
            width: 90px;
            height: 90px;
            border-radius: 50%;
            box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.22 );
        }
    }
    .name {
        font-size: 22px !important;
        font-weight: 500 !important;
    }
    .mem-list{
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        border-bottom: solid 1px $light-gray;
        &:last-child{
            border-bottom: none;
        }
    }
    .dir-column{
        @include flex-direction(column);
        @include align-items(flex-start);
        .profile-label {
            margin-bottom: 5px;
        }
        .datetime-text{
            margin-bottom: 13px;
        }
    }
    .profile-avatar{
        border-radius: 50px;
    }
    .label-pink{
        color: $pink;
        font-weight: 500;
        white-space: nowrap;
    }
    .list-title{
        font-size:15px;
        background: $pink;
        color: $white;
        @include rounded(0px);
        @include box-shadow(0px ,0px, 18px, rgba( 103, 94, 130 ,0.30 )) ;   
    }
    .rela-label {
        position: absolute;
        right: 0;
        top: 0;
        background-color: $pink;
        padding: 3px 10px;
        font-size: 12px;
        color: $white;
        font-weight: 500;
        @include rounded(0px 0px 0px 10px);
        @include box-shadow(0px ,0px, 18px, rgba( 103, 94, 130 ,0.30 )) ;   
    }
    .list-box {
        @include rounded(10px);
    }
    .button-full-ios{
        margin: 0px;
    }
    .button-full-md{
        @extend .button-full-ios;
    }
    .title{
        margin: 0px;
        font-weight: 500;
        font-size: 16px;
    }
    .address{
        font-size: 12px;
        color: $gray;
        display: block;
    }
    .blood-group {
        margin: 0px;
        padding-left: 10px;
        margin-left: 10px;
        border-left: solid 1px $pink;
    }
    .mobile-no{
        font-size: 12px;
        color: $gray;
        font-weight: 500;
        margin-right: 10px;
    }
    .list-md{
        ion-item-options {
            .button{
                width: 50px;
            }
        }
    }
    .list-ios{
        @extend .list-md;
    } 
        
}
