<ion-header>
  <ion-navbar>
    <ion-title>Family Members</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
<ion-card class="list-box">
<ion-grid>
  <ion-row>
    <ion-col col-3>
      <ion-avatar item-start>
        <img src="{{details.image}}" class="profile-avatar">
      </ion-avatar>
    </ion-col>
    <ion-col col-9>
      <ion-row>
        <ion-col col-3 class="label-pink">Name : </ion-col>
        <ion-col col-9>{{details.name}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="label-pink">Gender : </ion-col>
        <ion-col>Male</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5 class="label-pink">Bool Group : </ion-col>
        <ion-col col-7>{{details.bloodgroup}}</ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-5 class="label-pink">Phone Nimber : </ion-col>
    <ion-col col-7>{{details.mobile}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4 class="label-pink">Address : </ion-col>
    <ion-col col-8>Surat Gujarat</ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="label-pink">Email : </ion-col>
    <ion-col>abc@gmail.com</ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="label-pink">Education : </ion-col>
    <ion-col>B.Com</ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="label-pink">Business : </ion-col>
    <ion-col>Wed Devloping</ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="label-pink">Family Menber : </ion-col>
    <ion-col>5</ion-col>
  </ion-row>
</ion-grid>
</ion-card>
  
<ion-card padding class="list-title">
    <span>Family Members</span>
</ion-card>

<ion-list>
  <ion-card *ngFor="let item of currentItems" class="list-box">
    <ion-item-sliding>
      <button ion-item>
        <ion-avatar item-start>
          <img [src]="item.image" />
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.mobile}}</p>
        <ion-note item-end *ngIf="item.bloodgroup">
          <ion-icon name="water"></ion-icon> {{item.bloodgroup}}</ion-note>
      </button>
      <ion-item-options>
        <button ion-button color="danger">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-card>
</ion-list>
</ion-content>
