<ion-header>
  <ion-navbar>
    <b (click)="openModal()">openModal</b>
    <ion-title>Family Members</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card class="list-box">
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <ion-avatar item-start>
            <img src="assets/img/marty-avatar.png" class="profile-avatar">
          </ion-avatar>
        </ion-col>
        <ion-col col-9>
          <ion-row>
            <ion-col class="label-pink">Name : </ion-col>
            <ion-col>Kaushik Bhartbhai </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="label-pink">Gender : </ion-col>
            <ion-col>Male</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="label-pink">Blood Group : </ion-col>
            <ion-col>AB+</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="label-pink">Phone Number : </ion-col>
        <ion-col>9898989898</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="label-pink">Address : </ion-col>
        <ion-col>9898989898</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="label-pink">Email : </ion-col>
        <ion-col>abc@gmail.com</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="label-pink">Education : </ion-col>
        <ion-col>B.Com</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="label-pink">Business : </ion-col>
        <ion-col>Wed Devloping</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="label-pink">Family Member : </ion-col>
        <ion-col>5</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card padding class="list-title">
    <span>Family Members</span>
  </ion-card>

  <ion-list>
    <ion-card *ngFor="let item of currentItems" class="list-box">
      <ion-item-sliding>
        <button ion-item>
          <ion-avatar item-start>
            <img [src]="item.image" />
          </ion-avatar>
          <h2 class="title">{{item.name}}</h2>
          <span class="address">Gadhadi, Gadhada, Botad</span>
          <div class="">
            <span class="mobile-no">Mo. {{item.mobile}}</span>
            <ion-note item-end class="blood-group" *ngIf="item.bloodgroup"><ion-icon name="water" color="pink"></ion-icon> {{item.bloodgroup}}</ion-note>
          </div>
        </button>
        <ion-item-options>
          <button ion-button color="pink">
            DELETE
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
  </ion-list>
</ion-content>