page-login {
    .login-form{
        padding: 10px 30px 30px;
        background-color: $login-bg;
        position: relative;
    }
    .item-md{
        padding-left: 0px;
    }
    .item-ios{
        @extend .item-md
    }
    .page-hdng {
        margin: 10px 0 30px;
        color: #666;
        font-weight: 400;
        font-size: 32px;
    }
    .item-input {
        @include rounded(10px);
        @include box-shadow(0px ,0px, 18px, rgba( 103, 94, 130 ,0.30 )) ;
        margin-bottom: 20px;
        border-top: none !important;
        ion-label{
            margin: 0px;
            padding: 15px 0px 15px 15px;    
        }
    } 
    .item-md{
        &.item-block{
            .item-inner{
                border-bottom: none;
            } 
        }
    }
            
    .item-block {
        &.item-ios {
            .item-inner{
                border-bottom: none;
            }
        }
    }
    .action-arrow {
        @include rounded(10px);
        @include box-shadow(0px ,0px, 18px, rgba( 103, 94, 130 ,0.30 )) ;
        width: 40px;
        height: 40px;
        background-color: $white;
        text-align: center;
        line-height: 50px;
        position: absolute;
        bottom: -20px;
        left: 0;
        right: 0;
        margin: auto;

        ion-icon{
            font-size: 26px;
        }
    }
    .social-form{
        padding: 40px 20px 20px;
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        background-color: $white;
        .button-block-md{
            margin: 0px 0px 15px 0px;
            text-transform: capitalize;
        }
        .button-block-ios{
            @extend .button-block-md;
        }
    }
    .login-link{
        span{
            color: $gray;
        }
        a{
            color: $pink;
            text-decoration: none;
            font-weight: 500;
        }
    }
    .qsek-manage {
        padding: 30px 20px 10px;
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        @include flex-direction(column);
        
        img {
            width: 50px;
            margin-right: 10px;
        }

        span {
            font-size: 12px;
            margin-top: 5px;
        }
    }
    .btn{
        min-width: 120px;
    }
    @media (max-width:350px){
        .item-input {
            ion-label{
                padding: 10px 0px 10px 15px;    
            }
        } 
    }
}
