page-gallery {
    .gallery-fol{
        position: relative;
        @include rounded(5px);
        @include box-shadow(0px ,0px , 6px , rgba( 103, 94, 130 ,0.50 ));
    }
    .image-container {
        min-height: 170px;
        background-size: cover;
        @include rounded(5px);
        background-size: cover;
        background-position: center;
    }
    .gal-fol-name {
        position: absolute;
        bottom: 0;
        background-color: $pink;
        left: 0;
        right: 0;
        @include rounded(0px 0px 5px 5px);
        padding: 10px 10px;
        color: $white;
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
    }
    .fold-name {
        width: 75%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    @media (min-width: 0px) {
        .images {
            column-count: 2;
        }
    }
 
    @media (min-width: 420px) {
        .images {
            column-count: 3;
        }
    }
 
    @media (min-width: 720px) {
        .images {
            column-count: 4;
        }
    }
 
    .one-image {
        margin: 2px;
    }
}
