
<ion-header no-shadow>

  <ion-navbar>
    <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button ion-button (click)="EditMemberModal()">
        <span ion-text color="white" >Edit</span>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <div class="bg-pink"></div>
  <ion-card class="card-top" *ngIf="details">
    <ion-card-content text-center>
      <div class="edit-avter">
        <img src="{{details.image}}" onerror="this.src='assets/img/default-user-avatars.png'" />
      </div>
  
      <h3 class="name">
        {{details.name}}
      </h3>
    </ion-card-content>
  </ion-card>
  
  <ion-card *ngIf="details">
    <ion-card-content>
      <div class="mem-list">
        <ion-label class="label-pink">Birthdate:</ion-label>
        <div class="datetime-text" text-right>{{details.name}}</div>
      </div>
  
      <div class="mem-list">
        <ion-label class="label-pink">Gender:</ion-label>
        <div class="datetime-text" text-right>{{details.gender | titlecase}}</div>
      </div>
  
      <div class="mem-list">
        <ion-label class="label-pink">Blood Group:</ion-label>
        <div class="datetime-text" text-right>{{details.blood_group}}</div>
      </div>
  
      <div class="mem-list">
        <ion-label class="label-pink">Mobile Number:</ion-label>
        <div class="datetime-text" text-right>{{details.mobile_no}}</div>
      </div>
      <div class="mem-list">
        <ion-label class="label-pink">Business:</ion-label>
        <div class="datetime-text" text-right>{{details.business}}</div>
      </div>
  
      <div class="mem-list">
        <ion-label class="label-pink">Education:</ion-label>
        <div class="datetime-text" text-right>{{details.education}}</div>
      </div>
  
      <div class="mem-list dir-column">
        <ion-label class="label-pink">Address:</ion-label>
        <div class="datetime-text" text-right>{{details.address}}</div>
      </div>
  
      <div class="mem-list dir-column">
        <ion-label class="label-pink">Email Id:</ion-label>
        <div class="datetime-text" text-right>{{details.email}}</div>
      </div>
  
      <div class="mem-list">
        <ion-label class="label-pink">Family Member:</ion-label>
        <div class="datetime-text" text-right>{{details.family_member}}</div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>