page-view-member {
    .scroll-content{
        background: $page-bg;
    }
    .header-md {
        &::after {
            display: none;
        }
    }
    .header-ios {
        .toolbar-background-ios {
            border-bottom: none; 
        }
    }
    .label-pink{
        color: $pink;
        font-weight: 500;
        white-space: nowrap;
        margin-bottom: 5px;
    }
    .bg-pink{
        background-color: $pink;
        height: 90px;
    }
    .card-top{
        margin-top: -90px;
    }
    .card-ios{
        @include rounded(5px);
    }
    .card-md{
        @extend .card-ios;
    }
    .edit-avter{
        padding-bottom: 15px;
        position: relative;
        display: inline-block; 
        img{
            width: 90px;
            height: 90px;
            border-radius: 50%;
            box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.22 );
        }
    }
    .name {
        font-size: 22px !important;
        font-weight: 500 !important;
    }
    .mem-list{
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        border-bottom: solid 1px $light-gray;
        &:last-child{
            border-bottom: none;
        }
    }
    .dir-column{
        @include flex-direction(column);
        @include align-items(flex-start);
        .profile-label {
            margin-bottom: 5px;
        }
        .datetime-text{
            margin-bottom: 13px;
        }
    }
    .profile-label {
        color: $pink;
        font-size: 14px;
        font-weight: 600;
    }
}
