<ion-header>
  <ion-navbar>
    <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Welcome To Desai Parivar</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="gotonoprofileedit()">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-card class="round-box">
    <ion-slides pager="true" autoplay="1000" loop="true" speed="3000" *ngIf="slides && slides.length" centeredSlides="true">
      <ion-slide *ngFor="let slide of slides">
        <img [src]="slide.image" onerror="this.src='assets/img/default-slider.jpg'" class="slide-image"/>
      </ion-slide>
    </ion-slides>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col col-6 col-sm-4 col-md-3 col-lg-3 col-xl-3>
        <ion-card text-center class="round-box round-box-menu" (click)="gotonews()">
          <ion-icon name="paper" class="home-menu-icon"></ion-icon>
          <h2>News</h2>
        </ion-card>
      </ion-col>
      <ion-col col-6 col-sm-4 col-md-3 col-lg-3 col-xl-3>
        <ion-card text-center class="round-box round-box-menu" (click)="gotofamilies()">
          <ion-icon name="people" class="home-menu-icon"></ion-icon>
          <h2>Family List</h2>
        </ion-card>
      </ion-col>
    
      <ion-col col-6 col-sm-4 col-md-3 col-lg-3 col-xl-3>
        <ion-card text-center class="round-box round-box-menu" (click)="gotoabout()">
          <ion-icon name="alert" class="home-menu-icon" ></ion-icon>
          <h2>About Family</h2>
        </ion-card>
      </ion-col>
      <ion-col col-6 col-sm-4 col-md-3 col-lg-3 col-xl-3>
        <ion-card text-center class="round-box round-box-menu" (click)="gotogallery()">
          <ion-icon name="images" class="home-menu-icon"></ion-icon>
          <h2>Gallery</h2>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>