page-home {
    .round-box {
        @include rounded(10px);
    }
    .home-menu-icon {
        font-size: 4em;
        color: $pink;
    }
    .round-box-menu {
        padding: 35px 0;
        margin: 10px auto;
    }
    .swiper-pagination-bullet{
        border: solid 1px #fff !important;
    }
    .swiper-pagination-bullet-active{
        background-color: $pink;
        border-color: transparent !important;
    }
    .swiper-slide {
        img{
            @include rounded(10px);
            width: 100%;
            height: 160px;
        }
    }
}
