page-about-family {
    .scroll-content{
        background: #f3f2f2;
    }
    .bg-gray img{
        margin: 10px auto 35px;
        width: 130px;
    }
    .ab-con{
        p{
            text-align: justify;
            text-indent: 50px;
            color: $primary-color;
        }
    }
}
