<ion-header>
  <ion-navbar>
    <ion-title>Desai Families</ion-title>
  </ion-navbar>
  <ion-toolbar >
    <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="showCancelButton" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-card *ngFor="let item of families" class="list-box">
        <button ion-item (click)="gotofamilymembers(item)">
          <ion-avatar item-start>
            <img src="{{item.image}}" onerror="this.src='assets/img/default-user-avatars.png'"/>
          </ion-avatar>
          <h2 class="title">{{item.name}}</h2>
          <span class="address">Gadhadi, Gadhada, Botad</span>
          <div class="">
            <span class="mobile-no">Mo. {{item.mobile_no}}</span>
            <ion-note item-end class="blood-group" *ngIf="item.blood_group"><ion-icon name="water" color="pink"></ion-icon> {{item.blood_group}}</ion-note>
          </div>
        </button>
    </ion-card>

  </ion-list>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col no-padding>
      <button ion-button full icon-start color="pink" (click)="sortby()">
        <ion-icon name="md-arrow-round-up"></ion-icon>
        Sort By
      </button>
    </ion-col>
    <ion-col no-padding>
      <button ion-button full icon-start color="pink" (click)="filterby()">
        <ion-icon name="md-funnel"></ion-icon>
        Filter
      </button>
    </ion-col>
  </ion-row>
</ion-footer>